* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.modal {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    top: 0% !important;
}

.mt-30 {
    margin-top: 30px;
}

.bg_login {
    overflow-x: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../img/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1920px 1080px;
}

.logo {
    position: relative;
}

.logo a img {
    position: absolute;
    top: 2.5vw;
    left: 8vw;
    width: 288px;
    height: 51px;
}

.login_body {
    position: absolute;
    width: 100%;
    top: 55%;
}

.login_row {
    display: flex;
    flex-wrap: wrap;
}

.col1 {
    position: relative;
    display: grid;
    place-items: center;
    width: 50%;
}

.login_text {
    font-weight: normal;
    left: 8vw;
    position: absolute;
}

.login_text h1 {
    text-align: left;
    font-weight: 300;
    font-size: 6vw;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.login_text p {
    text-align: left;
    font-weight: 300;
    font-size: 2vw;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0px;
}

.col2 {
    position: relative;
    width: 50%;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

.login_form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    width: 35vw !important;
    position: absolute;
    right: 8vw;
    padding: 50px 70px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .login_form {
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 5%);
    }
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid #fff !important;
    border-radius: 10px !important;
    outline: none;
    height: 4rem;
    font-size: 20px;
    font-weight: 300 !important;
    margin: 0 0 12px 0;
    padding: 0px 0px 0px 50px;
    color: #fff !important;
}

.input-field .prefix {
    color: #fff !important;
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: 1rem;
}

.login_btn {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    color: #fff;
    width: 100%;
    padding: 12px 4px;
    background-color: transparent;
    font-size: 18px;
    height: 4rem;
    font-weight: 300;
}

.login_form_footer {
    margin-top: 3.5rem;
}

.forgot_pas {
    float: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.3;
    font-size: 15px;
    font-weight: normal;
}

.forgot_pas a {
    text-decoration: none;
    color: #fff;
}

.terms a {
    text-decoration: none;
    color: #fff;
}

.terms {
    float: right;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.3;
    font-size: 15px;
    font-weight: normal;
}

@media(max-width: 1500px) {
    .logo a img {
        top: 2vw;
        left: 8vw;
        width: 175px;
        height: auto;
    }
    .login_form {
        width: 42vw !important;
        right: 8vw;
        padding: 42px;
    }
    input:not([type]),
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=date]:not(.browser-default),
    input[type=datetime]:not(.browser-default),
    input[type=datetime-local]:not(.browser-default),
    input[type=tel]:not(.browser-default),
    input[type=number]:not(.browser-default),
    input[type=search]:not(.browser-default),
    textarea.materialize-textarea {
        height: 3rem;
        font-size: 14px;
        margin: 0 0 12px 0;
        padding: 0px 0px 0px 40px;
    }
    .input-field .prefix {
        width: 3rem;
        font-size: 1.5rem;
    }
    .login_btn {
        font-size: 14px;
        height: 3rem;
    }
    .login_form_footer {
        margin-top: 2.5rem;
    }
    .forgot_pas {
        font-size: 12px;
    }
    .terms {
        font-size: 12px;
    }
    .login_text h1 {
        margin: 0px;
        font-size: 7vw;
    }
    .login_body {
        top: 60%;
    }
}

@media(max-width: 768px) {
    .bg_login {
        background-size: cover;
    }
    .login_body {
        top: 45%;
    }
    .col1 {
        width: 100%;
        margin-bottom: 30px;
    }
    .col2 {
        width: 100%;
        position: initial;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    .login_form {
        width: 90vw !important;
        right: 0;
        padding: 42px;
        left: 0;
        justify-content: center;
        text-align: center;
    }
    .login_text h1 {
        font-size: 12vw;
    }
    .login_text p {
        font-size: 3vw;
    }
    .login_row {
        padding-bottom: 50vw;
    }
}

@media(max-width: 600px) {
    .login_body {
        top: 30%;
    }
    .col1 {
        margin-bottom: 0px;
    }
    .login_text p {
        font-size: 4vw;
    }
    .login_text h1 {
        font-size: 14vw;
    }
    .login_form {
        padding: 25px;
    }
}